.search {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  width: 100%;
  background: var(--medium);
  border-radius: 10px;
  height: 2.5rem;
  padding: 0 15px;
}

.search input {
  background-color: transparent;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
}

.search input:focus {
  outline: none;
}

.search-icon {
  color: var(--main);
  cursor: pointer;
}
